wandb/
logs/
test_output/
__pycache__/
*.pyc
*.zip
*.png
*.jpg
*.log
*.parquet
.hydra/
reward_model_trainer_copy.py
train_v2.py
PickScore/.hydra/
PickScore/trainer.egg-info/
ddpo.egg-info/
rl4dgm/rl4dgm.egg-info/
old_training_scripts/